<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
  <h1>Our silly little Stupid Coach app</h1>
  <%= @answer %>
  <%= link_to "Ask another question", ask_path %>
</body>
</html>