<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1 class="">Questions</h1>
		<form action="/answer" method="get">
			<input type="text" name="question" placeholder="Ask me a question">
			<input type="submit">
		</form>
	</body>
</html>



